{{ define "main" }}
    <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
        {{ .Content }}
    </article>

    {{ $pages := where site.RegularPages "Type" "games" }}
    {{ $paginator := .Paginate $pages.ByTitle }}
    <div class="w-100 w-90-m w-80-l center">
        <section class="w-100 mw8 flex flex-wrap center">
            {{ range $paginator.Pages }}
                <div class="w-100 w-50-l pa0 pa3-l relative">
                    {{ .Render "summary-with-image" }}
                </div>
            {{ end }}
        </section>
    </div>

    <div class="pa3 pa4-ns w-100 w-70-ns center">
        {{ template "_internal/pagination.html" . }}
    </div>

{{ end }}

