<div class="tick"
    data-credits="false"
    data-initial-value={{ .Get "from" }}
    data-did-init="handleCountdownTickInit">
    <div data-repeat="true" data-layout="horizontal fit" data-transform="preset(d, h, m, s) -> delay">
        <div class="tick-group">
            <div data-key="value" data-repeat="true" data-transform="pad(00) -> split -> delay">
                <span data-view="flip"></span>
            </div>

            <span data-key="label" data-view="text" class="tick-label"></span>
        </div>
    </div>
</div>

<div class="mt2 i f6 light-silver tc">
    ({{ time.Format "Jan 2, 2006" ( .Get "from" ) }})
</div>
